@import url('./reset.css');
#visual {
    overflow: hidden;
}
#visual > .slider {
    width: 1920px;
    height: 600px;
    margin-top: 100px;
    background: #666;
    position: relative;
    /* border: 2px solid red; */
}
#visual > .slider img {
    position: absolute;
    left: 0; top: 0;
}
.indicator {
    position: absolute;
    /* border: 1px solid red; */
    text-align: center;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    bottom: 10px;
}
.indicator > a {
    width: 10px; height: 10px;
    background: #666;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.8;
}
.indicator > a.on {
    background: #eee;
}

#info {
    width: 1700px;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#info > #gnb {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
#info > #gnb > ul > li {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}
#info > #gnb > ul > li:hover {
    border: 1px solid #ee6f14;
    transition: 0.2s;
}
#info > #gnb > ul > li a:hover {
    color: #ee6f14;
    transition: 0.2s;
}
#info > #gnb > ul > li a {
    color: rgb(194, 194, 194);
    padding: 20px;
}
#info > #gnb > ul > .djfzms a {
    color: #ee6f14;
}
#info > #gnb > ul > .djfzms {
    border: 1px solid #ee6f14;
}
#info > .menu_list {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}
#info > .menu_list > .menu_img {
    width: 700px;
    height: 700px;
    background: #666;
    float: left;
    overflow: hidden;
}
#info > .menu_list > .menu_img > img {
    width: 100%;
}
#info > .menu_list > .menu_text {
    width: 700px;
    height: 700px;
    /* background: #888; */
    float: right;
}
#info > .menu_list > .menu_text h3 {
    font-size: 30px;
    padding: 30px;
}
#info > .menu_list > .menu_text > .text_info {
    width: 500px;
    height: 120px;
    background: rgb(238, 238, 238);
    margin-left: 30px;
    border: 1px solid rgb(185, 185, 185);
    /* border-radius: 5px; */
}
#info > .menu_list > .menu_text > .text_info p {
    padding-left: 20px;
    line-height: 30px;
    font-size: 18px;
    padding-top: 15px;
    /* font-weight: bold; */
    color: rgb(141, 141, 141);
}
#info > .menu_list > .menu_text > .img {
    width: 700px;
    height: 800px;
    text-align: center;
    margin-top: 40px;
    overflow: hidden;
    margin-left: 30px;
}
#info > .menu_list > .menu_text > .img > li {
    position: relative;
    width: 200px;
    height: 200px;
    background:#666;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}
#info > .menu_list > .menu_text > .img > li:nth-child(3) {
    margin-right: 0;
}
#info > .menu_list > .menu_text > .img > li:hover {
    cursor: pointer;
    background: #000;
}
.menu_text > .img > li > .text {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: #000;
    opacity: 0.8;
    display: none;
    margin: auto;
}
.menu_text > .img > li > .text > h4 {
    color: #fff;
    margin-top: 80px;
}
#info > .menu_list > .menu_text > .img > li:hover > .text {
    display: inline;
}
.menu_text > .img > li img { transition: 0.5s;}
.menu_text > .img > li:hover img { transform: scale(1.2);}

.link {
    width: 60px;
    height: 60px;
    background: #fff;
    position: fixed;
    right: 100px;
    bottom: 50px;
    border-radius: 50px;
    text-align: center;
    display: none;
    cursor: pointer;
    box-shadow: 2px 1px 5px 1px grey;
 }
 .link > .top {
    line-height: 60px;
    color: #000;
    font-weight: bold;
 }

 #content > .content_img {
     width: 1920px;
     height: 4500px;
 }

 #content > .menu {
    width: 1200px;
    height: 330px;
    margin: 0 auto;
    /* background: #000; */
    text-align: center;
    position: absolute;
    top: 5300px;
    left: 360px;
 }
 #content > .menu > #TopSlider {
     width: 1080px;
     margin: 0 auto;
 }
 #content > .menu > #TopSliderBtn {
     width: 1080px;
     margin: 0 auto;
     margin-top: 20px;
 }
 #content > .menu > #TopSliderBtn > ul a {
     text-align: center;
 }

 ul,li { list-style:none; }
 #TopSlider {
     width:1080px; 
     height:600px;
     border:1px solid #d2d2d2;
}
 #TopSlider div {
     width:1080px;
     height:600px; 
     float:left; 
     visibility:hidden; 
     position:absolute;
}

 #ul_btns {
     width:500px;
     margin: 0 auto;
     overflow: hidden;
     /* border:1px solid #e0e0e0; */
}
 #ul_btns a {
     float:left; 
     /* display: inline-block; */
     width:100px;
     height: 100px;
     margin-left: 10px;
     border:1px solid #e0e0e0;
}
 #ul_btns .on { 
     background-color:red; 
     border: 5px solid orange;
     overflow: hidden;
     /* box-sizing: border-box; */
}
#ul_btns a img {
    width: 100px;
    /* height: 200px; */
}