@import url('./reset.css');
#visual {
    overflow: hidden;
}
#visual > .slider {
    width: 1920px;
    height: 600px;
    margin-top: 100px;
    background: #666;
    position: relative;
    /* border: 2px solid red; */
}
#visual > .slider img {
    position: absolute;
    left: 0; top: 0;
}
.indicator {
    position: absolute;
    /* border: 1px solid red; */
    text-align: center;
    width: 100px;
    left: 50%;
    margin-left: -50px;
    bottom: 10px;
}
.indicator > a {
    width: 10px; height: 10px;
    background: #666;
    display: inline-block;
    text-decoration: none;
    border-radius: 50%;
    opacity: 0.8;
}
.indicator > a.on {
    background: #eee;
}

#info {
    width: 1700px;
    height: 1000px;
    margin: 0 auto;
    overflow: hidden;
}

#info > #gnb {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}
#info > #gnb > ul > li {
    margin-top: 30px;
    display: inline-block;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 10px;
    padding: 10px;
    margin-left: 5px;
}
#info > #gnb > ul > li:hover {
    border: 1px solid #ee6f14;
    transition: 0.2s;
}
#info > #gnb > ul > li a:hover {
    color: #ee6f14;
    transition: 0.2s;
}
#info > #gnb > ul > li a {
    color: rgb(194, 194, 194);
    padding: 20px;
}
#info > #gnb > ul > li:first-child {
    border: 1px solid #ee6f14;
}
#info > #gnb > ul > li:first-child a {
    color: #ee6f14;
}
#info > .menu_list {
    width: 1400px;
    margin: 0 auto;
    overflow: hidden;
}
#info > .menu_list > .menu_img {
    width: 700px;
    height: 700px;
    background: #666;
    float: left;
    overflow: hidden;
}
#info > .menu_list > .menu_img > img {
    width: 100%;
}
#info > .menu_list > .menu_text {
    width: 700px;
    height: 700px;
    /* background: #888; */
    float: right;
}

#info > .menu_list > .menu_text > h3 {
    font-size: 40px;
    padding: 30px;
}
#info > .menu_list > .menu_text > .text_info {
    width: 500px;
    height: 100px;
    margin-top: 20px;
    margin-bottom: 50px;
    background: rgb(238, 238, 238);
    margin-left: 30px;
    border: 1px solid rgb(185, 185, 185);
    /* border-radius: 5px; */
}
#info > .menu_list > .menu_text > .text_info p {
    padding-left: 20px;
    line-height: 30px;
    font-size: 18px;
    padding-top: 15px;
    /* font-weight: bold; */
    font-weight: bold;
    color: #000;
}
#info > .menu_list > .menu_text > .text_info p span {
    background: #ff3d3d;
    color: #fff;
}
#info > .menu_list > .menu_text > .img {
    width: 700px;
    height: 800px;
    text-align: center;
    margin-top: 40px;
    overflow: hidden;
    margin-left: 30px;
}
#info > .menu_list > .menu_text > .img > li {
    position: relative;
    width: 200px;
    height: 200px;
    background:#231816;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
}
#info > .menu_list > .menu_text > .img > li:last-child img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
}
#info > .menu_list > .menu_text > .img > li:nth-child(3) {
    margin-right: 0;
}
#info > .menu_list > .menu_text > .img > li:hover {
    cursor: pointer;
    background: #000;
}
.menu_text > .img > li > .text {
    position: absolute;
    width: 100%; height: 100%;
    left: 0; top: 0;
    background: #000;
    opacity: 0.8;
    display: none;
    margin: auto;
}
.menu_text > .img > li > .text > h4 {
    color: #fff;
    margin-top: 80px;
}
#info > .menu_list > .menu_text > .img > li:hover > .text {
    display: inline;
}
.menu_text > .img > li img { transition: 0.5s;}
.menu_text > .img > li:hover img { transform: scale(1.2);}

#content {
    width: 1920px;
    height: 3200px;
    background: #666;
    /* margin-bottom: 50px; */
    overflow: hidden;
}
#content > .legend {
    width: 1920px;
    height: 1800px;
    background: #999;
    margin: 0 auto;
}
#content > .review {
    width: 1920px;
    height: 1400px;
}

#menu {
    width: 1920px;
    height: 4000px;
    overflow: hidden;
    background: #f9eec8;
}

.link {
    width: 60px;
    height: 60px;
    background: #fff;
    position: fixed;
    right: 100px;
    bottom: 50px;
    border-radius: 50px;
    text-align: center;
    display: none;
    cursor: pointer;
    box-shadow: 2px 1px 5px 1px grey;
 }
 .link > .top {
    line-height: 60px;
    color: #000;
    font-weight: bold;
 }