* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

header {
    width: 100%;
    height: 100px;
    background: #fff;
    /* overflow: hidden; */
    position: fixed;
    z-index: 99;
}
header > div {
    width: 1300px;
    margin: 0 auto;
}

header > div > .text {
 float: left;
 margin-top: 40px;
 margin-left: 20px;
 font-size: 14px;
}
header > div > .text > ul > li {
    display: inline-block;
}
header > div > h1 a {
    color: #000;
    float: left;
}
header > div > .menu {
    float: right;
}
header > div > .menu > .depth1 > li {
    width: 190px;
    float: left;
    text-align: center;
    margin-top: 30px;
    line-height: 40px;
    overflow: hidden;
}
header > div > .menu > .depth1 > li a {
    color: #000;
    font-weight: bolder;
    display: block;
}
header > div > .menu > ul > li a:hover {
    color: #ee6f14;
    transition: 0.2s;
}

.menu > ul > li > .depth2 {
    /* display: none; */
    opacity: 0;
    max-height: 0px;
    transition-duration: 0.2s;
}
.menu > ul > li > .depth2 > li img {
    position: relative;
    top: 5px;
}
.menu > ul > li > .depth2 > li:first-child img {
    position: relative;
    right: 16px;
}
.menu > ul > li > .depth2 > li:nth-child(3) img {
    position: relative;
    right: 47px;
}
.menu > ul > li > .depth2 > li:nth-child(5) img {
    position: relative;
    right: 39px;
}
.menu > ul > li > .depth2 > li:nth-child(6) img {
    position: relative;
    right: 15px;
}
header > div > .menu > .depth1 > li:hover > .depth2 {
    width: 190px;
    margin: 0 auto;
    max-height: 450px;
    opacity: 1;
    border: 3px solid #ee6f14;
    border-radius: 10px;
    margin-top: 30px;
    box-sizing: border-box;
    overflow: hidden;
}
header > div > .menu > ul > li:hover > .depth2 > li {
    background: #fff;
    font-size: 14px;
}
header > div > .menu > ul > li:hover > .depth2 > li a {
    color: #888;
}
header > div > .menu > ul > li:hover > .depth2 > li a:hover {
    color: #ee6f14;
}

footer {
    width: 1920px;
    height: 250px;
    background: #000;
    overflow: hidden;
}
footer > .footer-wap {
    width: 1200px;
    margin: 0 auto;
}
footer > .footer-wap > .first {
    width: 50%;
    margin-top: 70px;
    text-align: center;
    float: left;
}
footer > .footer-wap .first p {
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}
footer > .footer-wap .first span {
    color: #fff;
    line-height: 30px;
    font-size: 12px;
}

footer > .footer-wap .second {
    width: 50%;
    /* background: #fff; */
    float: right;
    text-align: center;
    margin-top: 70px;
}
footer > .footer-wap .second h3 {
    color: #fff;
}
footer > .footer-wap .second p {
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
}