@import url('./reset.css');

#visual {
    width: 1920px;
    /* height: 2880px; */
    overflow: hidden;
    background: #f57921;
}
#visual > .main_visual {
    width: 1920px;
    margin-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
#visual > .main_visual > img {
    width: 1920px;
    display: block;
}
#visual > .main_visual2  {
    width: 1920px;
    /* height: 1700px; */
    overflow: hidden;
}
#visual > .main_visual2 > img {
    width: 1920px;
    display: block;
}
#content > .content_img {
    width: 1920px;
    /* height: 2150px; */
    overflow: hidden;
}
#content > .content_img > img {
    width: 100%;
    display: block;
}
#content > .map {
    width: 1920px;
    height: 1200px;
}
 #div_laypopup {
     width: 500px;
     height: 680px;
     background: #fff;
 }
 #div_laypopup > input {
     margin-top: 15px;
     /* color: #3d3d3d; */
 }

 .link {
    width: 60px;
    height: 60px;
    background: #fff;
    position: fixed;
    right: 100px;
    bottom: 50px;
    border-radius: 50px;
    text-align: center;
    display: none;
    cursor: pointer;
    box-shadow: 2px 1px 5px 1px grey;
 }
 .link > .top {
    line-height: 60px;
    color: #000;
    font-weight: bold;
 }