@import url('./reset.css');

body{
    /* position: relative; */
    font-size: 1em;
    font-family: sans-serif;
  }
  button,label,input{
    padding: 5px 8px;
    font-size: 1em;
  }
  /* 팝업창(비표시) */
  .popup2{
    background: #ff0;
    position: absolute;
    top: 20%; left: 10%;
    width: 300px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    display: none;
  }
  
  /*  팝업창 표시*/
  .popup2.on{
    display: block;
  }
  .popup2 > div:first-child{ padding: 10px;}
  .popup_footer2{
    position: relative;
    padding: 10px;
    background: #fff;
    font-size: 14px;
  }
  .popup_footer2 > .popup_close2{
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    border: none;
    background: #eee;
    font-weight: bold;
  }
  .popup_txt2{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* 팝업창(비표시) */
  .popup2{
    background: #ff0;
    position: absolute;
    top: 20%; left: 10%;
    width: 300px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
    margin-bottom: 20px;
    display: none;
  }
  
  /*  팝업창 표시*/
  .popup.on2{
    display: block;
  }
  .popup2 > div:first-child{ padding: 10px;}
  .popup_footer2{
    position: relative;
    padding: 10px;
    background: #fff;
    font-size: 14px;
  }
  .popup_footer2 > .popup_close2{
    position: absolute;
    right: 0; top: 0;
    height: 100%;
    border: none;
    background: #eee;
    font-weight: bold;
  }
  .popup_txt2{
    margin-top: 20px;
    margin-bottom: 20px;
  }

#visual {
    width: 1920px;
    /* height: 2880px; */
    overflow: hidden;
    background: #f57921;
}
#visual > .main_visual {
    width: 1920px;
    margin-top: 100px;
    box-sizing: border-box;
    overflow: hidden;
}
#visual > .main_visual > img {
    width: 1920px;
    display: block;
}
#visual > .main_visual2  {
    width: 1920px;
    /* height: 1700px; */
    overflow: hidden;
}
#visual > .main_visual2 > img {
    width: 1920px;
    display: block;
}
#visual > .main_visual2 > .text {
    width: 10px;
    height: 100px;
    position: absolute;
    top: 1810px;
    left: 625px;
    background: #000;
    text-align: center;
    overflow: hidden;
}
#visual > .main_visual2 > .text > h1 {
    font-size: 50px;
    color: #fff;
}

#content > .content_img {
    width: 1920px;
    /* height: 2150px; */
    overflow: hidden;
}
#content > .content_img > img {
    width: 100%;
    display: block;
}
#content > .map {
    width: 1920px;
    height: 1200px;
}
 #layer_pop {
    margin-top: 100px;
    width: 500px;
    height: 680px;
    background: #666;
    overflow: hidden;
 }
 #layer_pop > .pop {
   text-align: center;
 }
 #layer_pop > .pop > input {
    width: 30px;
    margin-top: 13px;
 }
#layer_pop > .pop a {
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
  background: #fff;
} 
 #div_laypopup2 {
     width: 500px;
     height: 680px;
     background: #fff;
 }
 #div_laypopup2 > input {
     margin-top: 15px;
     /* color: #3d3d3d; */
 }

 .link {
    width: 60px;
    height: 60px;
    background: #fff;
    position: fixed;
    right: 100px;
    bottom: 50px;
    border-radius: 50px;
    text-align: center;
    display: none;
    cursor: pointer;
    box-shadow: 2px 1px 5px 1px grey;
 }
 .link > .top {
    line-height: 60px;
    color: #000;
    font-weight: bold;
 }