@import url('./reset.css');

.row {
    overflow: hidden;
    width: 1200px;
    margin: 0 auto; 
}

.col-md-12 {
    margin-top: 150px;
}

/* 기본 텍스트 스타일 */
.formmail_txt {font-size:12px;color:#333333}
/* 텍스트박스 스타일 */
.formmail_border {font-size:12px;color:#333333;border:1px solid #D4D4D4}
/* 항목칸 스타일 */
.formmail_title_bgcolor {background-color:#F7F7F7;}
/* 입력칸 스타일 */
.formmail_cell_bgcolor {background-color:#FFFFFF;font-size:12px;color:#333333;padding-left:10px;}
textarea,input{border:1px #e8e8e8 solid;width:98%;padding:8px;margin:3px}

.formtable td{border:1px #e8e8e8 solid;border-collapse:collapse}

input[name="phone_no1"]{width:60px}
input[name="phone_no2"]{width:60px}
input[name="phone_no3"]{width:60px}
input[name="phone_no3"]{width:60px}
input[name="com_formmail_check_safe"]{width:20px}
input[name="captcha_code"]{width:60px}

.formmail_cell_bgcolor table td:last-child{width:50% !important}

.formtable{ margin-bottom:30px; }
